* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}
.container{
    display: flex;    
    height: 100vh; /* full screen height */
}

#sidebar {
    overflow: hidden; /* no scrollbars */
    width: 245px;
    height: 100vh; /* full screen height */
    border-right: 1px solid hsl(0, 0%, 86%);
    flex-direction: column;
    justify-content: space-between;
}

#sidebar button{
    border: none;
    background: none;
    padding: 12px 16px;
    font-size: 16px;
    margin: 10px;
    width: 90%;
    border-radius: 10px;
    
    display: flex;
    /* align-items: center; */
    gap: 16px;
    flex-shrink: 0;
    cursor: pointer;
}
#sidebar button:hover{
    background-color: hsl(0, 0%, 94%);
}

/* Show extra buttons by default */
.sidebar-extras {
    flex: 1;
    flex-shrink: 0;
    flex-direction: column;
}

#page-container{
    display: flex; 
    flex-direction: column;
    flex:1;
    height: 100vh; /* full screen height */
    overflow-y: auto;
    overflow-x: hidden;
    
}

#main-page{
    flex: 1 0 auto; /* allow main page to grow */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    /* background-color: rgb(225, 225, 225); */
    
}

#story-tab{
    display: flex;
    flex-shrink: 0;
    align-items: center;
    width: 100%;
    max-width: 650px; /* max width for larger screens */
    height: 150px; 
    /* margin: 10px auto 0 auto; */

    /* background-color: aliceblue; */
    overflow-x: auto; /*horizontal scroll*/
    overflow-y: hidden; /*no vertical scroll*/    
    scrollbar-width: none; /* hide scrollbar */
    position: relative;
}

.story-container{
    display: flex;
    flex-direction: row;
    gap: 7px;
}
.story{
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.story-image{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
}
.story-username{
    text-align: center;
    font-size: 12px;
    color: hsl(0, 0%, 20%);
}

#post-media{
    margin-top: 50px;
    background-color: aliceblue;    
}
#post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* gap: 30px; */    
}
.post-logo{
    width: 450px;
    height: 450px;
}

#post-interactions-buttons button{    
    border: none;
    background: none;    
    cursor: pointer;
    font-size: 23px;
    padding: 10px;    
}

#post-interactions-buttons {
    display: flex;
    width: 100%;           
}
#post-save {
    margin-left: auto; /* push to the far right */
}


.suggestions{
    display: flex;
    max-width: 650px; /* max width for larger screens */
    margin-top: 20px;
}

/* hide button text when small window */
@media (max-width: 1000px) {
    /* hides text on button */
    #sidebar button span {
        display: none
    }

    #sidebar button {
        /* reduce button size */
        width: 75%;
    }
    /* reduce sidebar size */
    #sidebar {
        width: 80px;
    }
    
    .suggestions {
        display: none !important;
    }
}

#sidebar-more{
    display: flex;
    /* flex-direction: column; */
    justify-content:last baseline
}

/* hide extra buttons in small screen */
@media (max-height: 700px) {
    .sidebar-extras {
        display: none !important;
    }
}